<h1>Hero <small>Hero Name</small></h1>
<hr>

<div class="row text-right">
  <div class="col">
    <button routerLink = '/heroes'
            class="btn btn-danger">
      <i class="fa fa-arrow-left">
        Back
      </i>
    </button>
  </div>
</div>

<div class="row animated fadeIn faster">
  <div class="col">
    <form>
      <div class="form-group">
        <label>Firebase ID</label>
        <input type="text" 
               class="form-control"
               placeholder="Firebase ID"
               disabled="disabled">
        <small class="form-text text-muted">This field is self generated</small>
      </div>
      
      <div class="form-group">
        <label>Name</label>
        <input type="text" 
               class="form-control"
               placeholder="Hero name"
               required>
      </div>
      
      <div class="form-group">
        <label>Power</label>
        <input type="text" 
               class="form-control"
               placeholder="Hero power">
      </div>

      <div class="form-group">
        <label>State</label>
        <br>
        <button class="btn btn-outline-success w-50" type="button">
          <i class="fa fa-smile-wink">Alive</i>
        </button>
        <button class="btn btn-outline-danger w-50" type="button">
          <i class="fa fa-dizzy">Dead</i>
        </button>
      </div>

      <hr>

      <div class="form-group text-center">
        <button class="btn btn-primary w-25"
                type="submit">
          <i class="fa fa-save">
            Save
          </i>
        </button>
      </div>

    </form>
  </div>
</div>